/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* HEADER */

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  line-height: 100px;
}
nav.left{
  float: left;
  width: 30%;
}
.logo {
  float: left;
  width: 30%;
}
.logo img {
  width: 100%;
  vertical-align: middle;
}
nav.left .menu li a {
  text-transform: uppercase;
  font-size: 13px;
}
nav.left .menu li:first-child a {
  color: black;
}
nav.right{
  float: left;
  width: 70%;
  text-align: right;

}
nav.right .menu .btn-mag {
  border-radius: 100px;
  background-color: #eb058c;
  padding: 12px 14px;
  margin-left: 20px;
}
nav.right .menu .btn-mag a {
  color: white;
}
.menu li{
  list-style-type: none;
  display: inline;
  padding-left: 50px;
  position:relative;
  padding-bottom: 10px;
}
/* .menu li:hover a {
  color: black;
} */
.menu li a {
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  color:#a4aab0;

}
/* inizio dropdown */
/* .dropdown:hover li{
  background-color:color:#a4aab0;
} */
.dropdown li:hover a {
  background-color: #dbdde0;
  margin-bottom: 1px;
  color: white;
}
.dropdown li a {
  display: block;
  text-align: center;
  padding-bottom: 18px;
  padding-top: 18px;
}
.dropdown li {
  line-height: 1;
  padding-left: 0;
}
span {
  display: inherit;
  text-align: right;
  width: 166px;
  font-size: 12px;
  color: #eb058c;
}
.dropdown {
  position: absolute;
  top: 26px;;
  left: 47px;
  width: 223px;
  background-color: white;
  box-shadow: -4px 9px 51px -31px rgba(0,0,0,0.5);
  display: none;
}
.active {
  display:block;
}
.off {
  display: none;
}
/* fine dropdown */
/* Button languages */

.btn > .down {
  font-size: 10px;
  color:#a4aab0;
}

.btn > .up {
  font-size: 10px;
  color:#a4aab0;
}
/* Fine button languages */
/* FINE HEADER */
